[default]
_default:
    @just --list

# Run all checks
check *args:
    @just test {% raw %}{{args}}{% endraw %}
    @just lint

# Format the code
fmt:
    @uv run ruff format

# Run the tests
test *args:
    @uv run pytest {% raw %}{{args}}{% endraw %}

# Run the linters
lint:
    @uv run ty check
    @uv run ruff check
    @uv run ruff format --check

# Auto-fix issues
fix:
    @uv run ruff check --fix
    @just fmt

# Serve docs
doc:
    @uv run pdoc {{ project_slug }}
